VITE_POLYMARKET_WALLET_ADDRESS=0x704849e569f6007fEE277C2A5fFcF1d9F3E853e0
VITE_POLYGON_RPC_URL=https://polygon-bor-rpc.publicnode.com
VITE_GAMMA_API_URL=https://gamma-api.polymarket.com
VITE_DATA_API_URL=https://data-api.polymarket.com
